body {
	text-align: center;
	margin-top: 200px;
	background-color: #ADD8E6;
}

#clock {
	font-family: "times";
	font-size: 140px;
	font-weight: 400;
	background-color: white;
	text-align: center;
	border-color: black;
	border: solid;
}

button {
	width: 120px;
	height: 40px;
	color: black;
	background-color: white;
	border-color: black;
}

button:hover {
	cursor: pointer;
}

#title {
	font-family: "times";
	font-size: 25px;
	color: black;
	margin: auto;
	width: 100%;
	position: fixed;
    top: 0;
 	left: 0;
	z-index: 999;
	width: 100%;
 	height: 30px;
}